@import "tailwindcss";
*{
  box-sizing: border-box;
}

body{
  background-color: #D2E823;
}


/* Custom Scrollbar Styling */
.link-container::-webkit-scrollbar {
  width: 6px;
}

.link-container::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px; /* Keeps the scrollbar from touching the top/bottom edges */
}

.link-container::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* slate-300 */
  border-radius: 10px;
}

.link-container2::-webkit-scrollbar-thumb {
  background: #ff00df; /* slate-300 */
  border-radius: 10px;
}

.link-container::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* slate-400 */
}

@keyframes spinCard{
  from{
    transform: translateY(0)
  };
  to{
    transform: translateY(-100%)
  };
}

.apply-animation{
  animation: spinCard 30s infinite linear;

}
.scrollcontainer::-webkit-scrollbar{
  display: none;
  
}

.card{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card1{
  background-image: url("/images/svgexport-24.png");
}
.card2{
  background-image: url("/images/svgexport-25.png");
}
.card3{
  background-image: url("/images/svgexport-26.png");
}
.card4{
  background-image: url("/images/svgexport-27.png");
}
.card5{
  background-image: url("/images/svgexport-28.png");
}